
<div class="feed-messages-container" track-width="smallContainerWidth" min-width="360">
  <div class="feed-message" ng-repeat="message in feed" ng-click="expandMessage(message)">
    <div class="message-icon">
      <i class = "{{ ::message.icon }} {{::message.type}}"></i>
    </div>
    <div class="text-block text-message">
      <div class="message-content">
        {{::message.text}}
      </div>
      <div class="message-time">
        <div class="post-time">
          {{::message.time}}
        </div>
      </div>
    </div>
  </div>
</div>
