.content-top {
  padding-top    : 13px;
  padding-bottom : 22px;
}

h1.al-title {
  font-weight    : $font-normal;
  color          : $default-text;
  float          : left;
  width          : auto;
  margin         : 0;
  padding        : 0;
  font-size      : 24px;
  text-transform : uppercase;
  opacity        : 0.9;
}

.al-breadcrumb {
  background  : none;
  color       : $default-text;
  padding     : 0;
  margin      : 0;
  float       : right;
  padding-top : 6px;
  li {
    font-size   : 18px;
    font-weight : $font-thin;
  }
}

@media (max-width : $resS) {
  .content-top {
    padding-top    : 10px;
    padding-bottom : 15px;
  }
}

@media (max-width : $resXXS) {
  .al-breadcrumb {
    display : none;
  }
  .content-top {
    padding-top    : 7px;
    padding-bottom : 12px;
  }
  h1.al-title {
    font-weight    : $font-thin;
    color          : $default-text;
    float          : left;
    width          : auto;
    margin         : 0;
    padding        : 0;
    font-size      : 22px;
    text-transform : uppercase;
    opacity        : 0.9;
  }
}

.al-look {
  float        : right;
  margin-right : 10px;
  padding-top  : 10px;
  > a {
    font-size : 19px;
  }
}
