#cd-timeline {
  margin-top : 15px;
  position   : relative;

  &:before {
    content    : '';
    position   : absolute;
    top        : 0;
    left       : 18px;
    height     : 100%;
    width      : 4px;
    background : #d7e4ed;
  }
}

.cd-timeline-block {
  position : relative;
  margin   : 2em 0;

  &:after {
    content : "";
    display : table;
    clear   : both;
  }

  &:first-child {
    margin-top : 0;
  }

  &:last-child {
    margin-bottom : 0;
  }
}

.cd-before-after-container {
  color           : #222;
  display         : flex;
  align-items     : center;
  justify-content : center;
  i {
    font-size : large;
    float     : right;
  }

  .cd-img-section {
    display : inline-block;
    margin  : 15px 10px 0 10px;
    p {
      display        : block;
      text-transform : uppercase;
      text-align     : center;
      font-weight    : 100;
      font-size      : 18px;
      margin-bottom  : 4px;
    }
  }
}

.cd-img-container {
  display    : inline-block;
  position   : relative;
  max-width  : 300px;
  max-height : 200px;

  div.cd-img-overlay {
    display          : inline-block;
    position         : absolute;
    bottom           : 0;
    left             : 0;
    right            : 0;
    background-color : rgba(0, 0, 0, 0.4);
    border-radius    : 3px;
    overflow         : hidden;
    width            : 100%;
    height           : 100%;
    transition       : .5s ease;
  }

  .cd-img {
    display       : block;
    max-width     : 100%;
    object-fit    : cover;
    max-height    : 200px;
    border-radius : 3px;
  }

  .cd-logo {
    position   : absolute;
    bottom     : 5px;
    right      : 5px;
    width      : 25%;
    transition : .5s ease;
  }
}

.cd-timeline-content:hover .cd-img-overlay {
  width : 0;
}

.cd-timeline-content:hover .cd-logo {
  opacity : 0;
}

@media only screen and (max-width : $resS) {
  div.cd-before-after-container {
    .cd-before, div.cd-img-section.cd-before, div.cd-img-section p {
      display : none;
    }
    div.cd-img-section.cd-after {
      width : 100%;
    }
  }
  div.cd-timeline-content {
    margin-left : 50px;
    .cd-info {
      padding : 8px 0 0 0;
    }
  }

  #cd-timeline-container .panel > .panel-body {
    padding : 0 12px 14px 12px !important;
  }
}

.cd-timeline-icon {
  position                    : absolute;
  top                         : 0;
  left                        : 0;
  width                       : 40px;
  height                      : 40px;
  border-radius               : 50%;
  /* Force Hardware Acceleration in WebKit */
  -webkit-transform           : translateZ(0);
  -webkit-backface-visibility : hidden;
}

.cssanimations .cd-timeline-icon.is-hidden {
  visibility : hidden;
}

.cssanimations .cd-timeline-icon.bounce-in {
  visibility : visible;
  animation  : cd-bounce-1 0.6s;
}

@media only screen and (min-width : $resXL) {
  .cd-timeline-icon {
    width       : 60px;
    height      : 60px;
    left        : 50%;
    margin-left : -30px;
  }
}

@keyframes cd-bounce-1 {
  0% {
    opacity   : 0;
    transform : scale(0.5);
  }

  60% {
    opacity   : 1;
    transform : scale(1.2);
  }

  100% {
    transform : scale(1);
  }
}

.cd-timeline-content {
  position      : relative;
  margin-left   : 60px;
  background    : $primary;
  padding       : 1em;
  border-radius : 5px;
  &:after {
    content : "";
    display : table;
    clear   : both;
  }

  h2 {
    color       : #303e49;
    font-weight : $font-light;
    margin      : 0 0 6px 0;
    font-size   : 18px;
  }

  .cd-uplift {
    float       : right;
    font-weight : 100;
    font-size   : 20px;
  }

  .cd-read-more, .cd-info {
    font-size : 16px;
    font-weight: $font-light;
    display   : inline-block;
  }

  > p {
    margin-bottom : 0;
    font-size     : 16px;
    line-height   : 18px;
    font-weight   : $font-thin;
  }

  .cd-read-more {
    float         : right;
    padding       : .8em 1em;
    background    : #acb7c0;
    color         : white;
    border-radius : 0.25em;
  }

  .cd-info {
    float   : left;
    padding : 10px 0 0 0;
    opacity : .7;
  }

  &:before {
    content      : '';
    position     : absolute;
    top          : 16px;
    right        : 100%;
    height       : 0;
    width        : 0;
    border       : 7px solid transparent;
    border-right : 7px solid white;
  }
}

@mixin cd-timeline-color($color) {
  background : $color;
}

@mixin cd-timeline-left-color($color) {
  &:before {
    border-left-color : $color;
  }
}

@mixin cd-timeline-right-color($color) {
  &::before {
    border-right-color : $color;
  }
}

.cd-timeline-content.warning {
  @include cd-timeline-color(rgba($warning, 0.2));
}

.cd-timeline-content.danger {
  @include cd-timeline-color(rgba($danger, 0.2));
}

.cd-timeline-content.primary {
  @include cd-timeline-color(rgba($primary, 0.2));
}

.no-touch .cd-timeline-content .cd-read-more:hover {
  background-color : $border;
}

@media only screen and (min-width : $resXL) {

  #cd-timeline::before {
    left        : 50%;
    margin-left : -2px;
  }

  .cd-timeline-block {
    margin : 4em 0;
    &:first-child {
      margin-top : 0;
    }
    &:last-child {
      margin-bottom : 0;
    }
  }

  .cd-timeline-content {
    margin-left : 0;
    padding     : 1.6em;
    width       : 42%;
    &::before {
      top               : 24px;
      left              : 100%;
      border-color      : transparent;
      border-left-color : white;
    }

    .cd-read-more {
      float : left;
    }
    .cd-info {
      display   : inline-block;
      position  : absolute;
      width     : 100%;
      left      : 137%;
      top       : 6px;
      font-size : 16px;
      .cd-date {
        display : block;
      }
    }
  }

  .cd-timeline-content.warning {
    @include cd-timeline-left-color(rgba($warning, 0.2));
  }
  .cd-timeline-content.danger {
    @include cd-timeline-left-color(rgba($danger, 0.2));
  }
  .cd-timeline-content.primary {
    @include cd-timeline-left-color(rgba($primary, 0.2));
  }

  .cd-timeline-block:nth-child(even) .cd-timeline-content {
    float : right;
  }

  .cd-timeline-block:nth-child(even) {
    .cd-timeline-content {
      &::before {
        top                : 24px;
        left               : auto;
        right              : 100%;
        border-color       : transparent;
        border-right-color : white;
      }

      &.cd-timeline-content.warning {
        @include cd-timeline-right-color(rgba($warning, 0.2));
      }
      &.cd-timeline-content.danger {
        @include cd-timeline-right-color(rgba($danger, 0.2));
      }
      &.cd-timeline-content.primary {
        @include cd-timeline-right-color(rgba($primary, 0.2));
      }
    }
  }

  .cd-timeline-block:nth-child(even) {
    .cd-timeline-content {
      .cd-read-more {
        float : right;
      }
      .cd-info {
        left       : auto;
        right      : 137%;
        text-align : right;
      }
    }
  }
}

.cssanimations .cd-timeline-content {
  &.is-hidden {
    visibility : hidden;
  }
  &.bounce-in {
    visibility : visible;
    animation  : cd-bounce-2 0.6s;
  }
}

@media only screen and (min-width : $resXL) {
  /* inverse bounce effect on even content blocks */
  .cssanimations .cd-timeline-block:nth-child(even) .cd-timeline-content.bounce-in {
    animation : cd-bounce-2-inverse 0.6s;
  }
}

@keyframes cd-bounce-2 {
  0% {
    opacity   : 0;
    transform : translateX(-100px);
  }

  60% {
    opacity   : 1;
    transform : translateX(20px);
  }

  100% {
    transform : translateX(0);
  }
}

@keyframes cd-bounce-2-inverse {
  0% {
    opacity   : 0;
    transform : translateX(100px);
  }

  60% {
    opacity   : 1;
    transform : translateX(-20px);
  }

  100% {
    transform : translateX(0);
  }
}
